#faqs .card {
  max-width: 380px;
  margin-bottom: 20px;
}

.faqs-card {
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
}

#fugas-card, #psico-card {
  background-size: auto;
}

.gratis {
  width: 80px;
  height: 50px;
  position: absolute;
  top: 2%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  border-radius: 999em 40px 40px 999em;
  z-index: 1;
}

#cec-card {
  background-image: url(../assets/cec.jpg);
}

#biblio-card {
  background-image: url(../assets/entrada-biblioteca-argentina-dr-juan-alvarez.jpg);
}

#sembra-card {
  background-image: url(../assets/partners/Equido-de-SembraMedia-700-600x368.jpg);
}

#bruju-card {
  background-image: url(../assets/brujula-espacio.jpg);
}

#cine-card {
  background-image: url(../assets/cine.png);
}

#lavarden-card {
  background-image: url(../assets/terraza-lavarden.jpg);
}

#fugas-card {
  background-image: url(../assets/shows/fugas.png);
}

#psico-card {
  background-image: url(../assets/shows/psico-desnudo.png);
}