body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.navbar-brand img {
  max-height: 10vw;
}

.nav-link {
  font-weight: 600;
}

.inline {
  display: inline;
}

.nav-item i {
  font-size: 1.5rem;
  margin-right: 2vw;
  color: #F66D5B;
}

footer .nav-item i {
  margin-right: 0.5vw;
  font-size: 2rem;
}

.nav-item i:hover {
  color: #F66D5B60;
}

main, footer {
  overflow: hidden;
}

#main-img {
  background-color: #F8F9FA;
}

#main-img img {
  max-width: 80%;
  max-height: 50vh;
}

img#main-section-logo {
  max-width: 30vw;
}

#festival-img {
  height: 500px;
  background-image: url(../assets/cec-aereo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15%;
}

#organizadores .card img {
  width: 135px;
}

#partners img {
  max-height: 110px;
  max-width: 330px;
  width: auto;
}

#medias img {
  max-height: 60px;
  max-width: 200px;
}

#apoyan img {
  max-width: 30vw;
  max-height: 20vw;
  width: auto;
  margin: 1vw;
}

footer div.rounded {
  margin: 0 auto;
  max-width: 80vw;
  border: 2px solid #6c757d;
}

footer img {
  margin: auto;
  max-width: 50vw;
}

#grilla, footer {
  background-color: #D0B9E9;
}

.color1 {
  color: #F66D5B;
}

.color2 {
  color: #00E06E;
}

.color3 {
  color: #14162D;
}

.color4 {
  color: #FF6D87;
}

.color5 {
  background-color: #D0B9E9;
}

.bg-color1 {
  background-color: #F66D5B;
}

.bg-color2 {
  background-color: #00E06E;
}

.bg-color3 {
  background-color: #14162D;
}

.bg-color4 {
  background-color: #FF6D87;
}

.bg-color5 {
  background-color: #D0B9E9;
}

.btn.bg-color1:hover {
  background-color: #F66D5B90;
}

.btn.bg-color3:hover {
  background-color: #14162D90;
}

.btn.bg-color4:hover {
  background-color: #FF6D8790;
}

@media screen and (min-width:768px) {
  .navbar-brand img {
    max-height: 3vw;
  }

  .partners-logo {
    max-width: 22vw;
    height: auto;
  }

  .media-partner img {
    max-width: 15vw;
  }

  #apoyan .col-2 {
    width: auto;
    margin: 0.6vw;
  }

  #apoyan img {
    max-width: 15vw;
    max-height: 5vw;
  }

  #apoyan img.achicar {
    max-height: 3vw;
  }

  footer img {
    max-width: 15vw;
  }

  #sedes .card img {
    max-height: 225px;
  }

  #medias img {
    max-height: 60px;
    max-width: 200px;
    width: auto;
  }

  #organizadores img {
    max-height: 12vw;
    width: auto;
  }

  .navbar .navbar-nav .nav-item:last-child .nav-link {
    border-right: 1px solid #14162D30;
    margin-right: 2vw;
    padding-right: 2vw;
  }

  #grilla img {
    max-height: 30vw;
  }

  footer div.rounded {
    min-width: 38vw;
  }
}

/* Ocultar botones */
#main-img a.btn {
  display: none;
}